<%- contentFor('body') %>
<br>
<div class="row">
        <br>
        <div class="col-md-6">            
            <h1>Prazo de Entrega</h1>            
            <p><b>C칩digo:</b> <%- prazo.codigo %></p>
            <p><b>Prazo de Entrega:</b> <%- prazo.prazoEntrega %> Dias</p>
            <p><b>Entrega Domiciliar:</b> <%- prazo.entregaDomiciliar %></p>
            <p><b>Entrega no S치bado:</b> <%- prazo.entregaSabado %></p>
            <p><b>Data M치xima de Entrega:</b> <%- prazo.dataMaxEntrega %></p>            
            <br>            
        </div>

        <div class="col-md-6">
            <div class="card card-body bg-light">                
                <h1>C칩digos:</h1>
                <p><b>40010: </b>SEDEX Varejo</p>
                <p><b>40045: </b>SEDEX a Cobrar Varejo</p>
                <p><b>40215: </b>SEDEX 10 Varejo</p>
                <p><b>40290: </b>SEDEX Hoje Varejo</p>
                <p><b>41106: </b>PAC Varejo</p>
            </div>
        </div>
</div>